.node {
    fill: steelblue;
    stroke: none;
  }
  
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
  }
  
  .node rect {
    stroke: black;
      stroke-width: 1;
    fill: #fff;
   }
  
   .node text { font: 12px sans-serif; }
  
  .node text { font: 12px sans-serif; }
  
  .node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
  }
  
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }

  .dots {
    cursor: hand;
  }